<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="androidcollider.androidcollider" android:installLocation="auto" android:versionName="1.2" android:versionCode="3">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="androidcollider.Droid"></application>
</manifest>